spring:
  datasource:
    url: jdbc:mysql://localhost:3306/project5
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

jwt:
  secret:
    key: e1as5e51sfef1s31gg8h1hhhhashrcgsddxvcvsdfefwsfsefef3
  expiration: 3600000